* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(245, 234, 229);
    color: #4a3e3d;
    padding: 20px 4%; /* atas bawah dan kiri kanan */
}
body.dark{
    background-color: rgb(47, 37, 37);
    color: white;
}
body.dark .navbar{
    background-color: rgb(31, 25, 25);
}
body.dark .overview-item{
    background-color: rgb(74, 61, 61);
}
body.dark .project-card{
    background-color: rgb(58, 48, 48);
}
body.dark .contact-card{
    background-color: rgb(74, 61, 61);
}
body.dark .overview-number {
    color: white;
}
body.dark .overview-text h3 {
    color: white;
}
body.dark .overview-text p {
    color: white;
}
body.dark .sosial-icon a {
    color: white;
}
body.dark .contact-desc {
    color: white;
}
body.dark .contact-card h3 {
    color: white;
}
body.dark .contact-card p {
    color: white;
}
body.dark .profile h1 {
    color: white;
}
body.dark .profile h1 span {
    color: white;
}
body.dark .profile .role {
    color: white;
}
body.dark .sosial-media {
    color: white;
}
body.dark .my-goal {
    color: white;
}
body.dark .projects-wrapper .projects-title {
    color: white;
}
body.dark .projects-wrapper .projects-desc {
    color: white;
}
body.dark .nav-content a:hover {
    color: white;
    text-decoration: underline;
}

.navbar{
    background-color: rgb(130, 110, 110);
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 20px 40px; /* jarak dari teks ke dinding dalam kotak  */
    max-width: 2000px; /* batas lebar maksimal  */
    margin: 80px auto; /* jarak di luar kotak  */
    font-size: 25px;
    font-weight: bold;
    color: rgb(241, 232, 232);
}
.nav-content a{
    color: rgb(216, 208, 208);
    text-decoration: none;
}

.nav-content a:hover {
    color: rgb(215, 226, 229);
    text-decoration: underline;
}
.logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%; /* supaya bentuknya bulat full */
    object-fit: cover;
    display: block;
}
.logo{
    display:flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 30px;
}
.nav-content{
    display: flex;
    gap: 90px;
    justify-content: center;
    flex: 1; /* ngambil sisa ruang kosong di navbar */
}
.nav-content a{
    color: rgb(216, 208, 208);
    text-decoration: none
}
.nav-right{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.dark-mode img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
}
.dark-mode{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
}
.talk-button{
    background: white;
    border: none;
    border-radius: 50px;
    padding: 20px 50px;
    cursor: pointer;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
/* Section 1 */
.profile{
    max-width: 1200px;
    margin: 0 auto 80px auto;
    text-align: center;
}
.badge{
    display: inline-block;
    background-color: white;
    padding: 8px 22px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(67, 23, 23);
    margin-bottom: 20px;
}
.profile h1{
    font-size: 52px;
    font-weight: 800;
    margin: 0;
    color: rgb(170, 126, 126);
}
.profile h1 span{
    color: rgb(103, 77, 77);
}
.profile .role{
    font-size: 20px;
    color: rgb(175, 133, 133);
    margin-top: 10px;
    margin-bottom: 30px;
}
.foto-profil{
    flex: 1;
    width: 100%;
    max-width: 300px;
}
.foto-profil img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 24px;
}
.body-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.sosial-media{
    flex: 1;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(97, 68, 68);
}
.sosial-icon{
    display: flex;
    font-size: 25px;
    gap: 15px;
    margin-top: 15px;
}
.sosial-icon a:hover{
    color: rgb(97, 68, 68);
    font-size: 30px;
    text-decoration: underline;
}
.my-goal{
    flex: 1;
    text-align: right;
    font-size: 18px;
    color: rgb(97, 68, 68);
}
/* Section 2 */
.overview-section{
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
    padding-top: 50px 20px;
}
.title-name{
    font-size: 32px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-decoration: underline;
}
.overview-container{
    display: flex;
    flex-direction: column; /* supaya susun ke bawah */
    gap: 30px;
    max-width: 1000px;
    margin: 30px auto 0 auto;
}
.overview-card{
    background-color: white;
    padding: 30px 20px;
    border-radius: 18px;
    text-align: left;
}
.overview-item{
    display: flex;
    align-items: center;
    background-color: rgb(193, 182, 182);
    padding: 22px 30px;
    border-radius: 20px;
    text-align: left;
}
.overview-number{
    font-size: 26px;
    font-weight: 800;
    color: rgb(120, 82, 76);
    display: block;
    margin-right: 20px;
}
.overview-text h3{
    font-size: 16px;
    color: rgb(61, 50, 50);
    margin: 0;
}
.overview-text p{
    font-size: 14px;
    color: rgb(125, 107, 104);
}

/* Section 3 */
.projects-wrapper{
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}
.projects-wrapper .projects-title {
    font-size: 28px;
    color: rgb(61, 49, 46);
    margin-bottom: 6px;
    font-weight: 700;
}
.projects-wrapper .projects-desc {
    color: #7d6b68;
    margin-bottom: 40px;
    font-size: 14px;
    display: block;
}
.projects-section{
    background-color:rgb(61, 49, 46);
    color: white;
    padding: 40px;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}
.projects-title{
    font-size: 32px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-decoration: underline;
}
.projects.desc{
    color: black;
    margin-bottom: 40px;
    font-size: 15px;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* supaya bentuk 2 kolom atas bawah */
    gap: 25px;
    width: 100%;
}
.project-card{
    background-color: white;
    color: #3d312e;
    border-radius: 20px;
    width: 100%;
    padding: 18px;
    text-align: center;
}
.project-track{
    display: flex;
}
.slide{
    min-width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card-img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 15px;
}
.card-content h3{
    font-size: 18px;
    margin-bottom: 12px;
}
.btn-read-more{
    display: block;
    background-color: rgb(156, 102, 94);
    color: white;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 13px;
    margin-top: 10px;
}
.carousel-dots{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 25px;
}
.carousel-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.carousel-container{
    overflow: hidden;
    width: 100%;
    max-width: 900px;
}
.nav-btn{
background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}
.contact-section{
    max-width: 1100px;
    margin: 65px auto 40px auto;
    text-align: center;
}
.contact-title{
    font-size: 32px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 40px;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.contact-card {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 280px;
}
.contact-card i {
    font-size: 30px;
    color: rgb(156, 102, 94);
    margin-bottom: 12px;
}
.contact-card h3 {
    font-size: 18px;
    color: rgb(61, 49, 46);
    margin-bottom: 6px;
}
.contact-card p {
    font-size: 14px;
    color: rgb(125, 107, 104);
}
