body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 40px 20px;
  transition: all 0.3s ease;
}
.main {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
}

.logo{
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}

h1 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 1.1;
  width: 100%;
}

.card{
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 25px;
  box-sizing: border-box;
}

.tile-image{
  width: 45%;
  height: auto;
  flex-shrink: 1;
  display: block;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  min-width: 0;
}

.card h2, .card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.card p, .card-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  margin-top: 60px;
  width: 100%;
  text-align: right;
  grid-column: 1 / -1;
}


@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column
  }
  .tile-image {
    width: 100%;
  }
  .card-content {
    width: 100%;
  }
}